@font-face {
  font-family: iransans;
  src: url(/Fonts/IRANSansX-Regular.woff2);
  font-weight: normal;
}
@font-face {
  font-family: iransans;
  src: url(/Fonts/IRANSansX-Bold.woff2);
  font-weight: bold;
}

*,
*::before,
*::after {
  font-family: inherit;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: iransans;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

.container-top {
  padding: 1rem;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;
  height: 80%;
  width: 100%;
}

.textarea {
  border: 2px solid #0f254e;
  direction: rtl;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  margin-top: 0;
  border-radius: 9px;
  resize: none;
  padding: 1.6rem;
  outline: none;
  font-size: 1.7rem;
}

.new-box {
  min-width: 300px;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 60%;
  background-color: #4269b1;
  margin: 0 1rem;
  border: 3px solid #0f254e;
}

.box-num {
  background-color: #0f254e;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 6px 6px 0 0;
  padding: 1rem;
  min-height: 55px;
}

.container-bottom {
  padding: 1.5rem;
}
.boxes__heading {
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: #9cdef8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
}

.btn {
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2rem;
  background-color: #afddff;
  padding: 1rem 2rem;
  margin: 1rem;
  text-decoration: none;
  border: 2px solid #222;
  transition: all 0.5s;
}

.btn-submit {
  width: 30%;
  height: 45px;
  padding: 0.1 0;
  font-size: 1.6rem;
  margin-top: 2.3rem;
}

.raise:hover,
.raise:focus {
  background-color: #193569;
  color: #fff;
  border-color: #fff;
}

.box {
  min-width: 280px;
  flex: 0 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 10px;
  width: 30%;
  background-color: #9cdef8;
  margin: 0 1rem;
  margin: 1.2rem;
  border: 3px solid #0f254e;
}

.items {
  font-size: 2rem;
  margin-right: 3.5rem;
  direction: rtl;
  text-align: right;
  margin-top: 2rem;
}

.boxes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
}

.ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.control {
  display: flex;
}

.art__btn {
  font-weight: bold;
  width: 50%;
  border: none;
  margin-top: 2rem;
  height: 40px;
}

.btn-edit {
  background-color: orange;
  cursor: pointer;
  transition: all 0.1s;
  border-radius: 0 0 7px 0;
}

.btn-edit:hover {
  border-top: 4px solid #111;
}

.btn-remove {
  background-color: red;
  cursor: pointer;
  transition: all 0.1s;
  border-radius: 0 0 0 7px;
}

.btn-remove:hover {
  border-top: 4px solid #111;
}

.edit__container {
  text-align: center;
}

.boxes__header {
  direction: rtl;
  display: flex;
  background-color: #9cdef8;
  border-radius: 9px;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
}

.search-input {
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  outline: none;
}

.search-btn {
  padding: 0.8rem 2rem;
  font-weight: bold;
  background-color: #193569;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  margin: 1rem;
}

@media screen and (max-width: 500px) {
  .search-input {
    width: 130px;
  }
}
@media screen and (max-width: 388px) {
  .search-input {
    width: 100px;
  }
}
@media screen and (max-width: 355px) {
  .boxes__header {
    flex-direction: column;
  }
}
